#para
{
    text-align: center;
    color:red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#line1
{
    color: rgb(6, 92, 73);
}
#line2
{
    text-align: right;
    color: rgb(6, 92, 73);
}