#para
{
    font-family: 'Times New Roman', Times, serif;
}
#para1
{
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}
#para2
{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}